@{
    Layout = "_LayoutLogin";
}

<form>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Usuário</label>
        <input type="email" class="form-control" id="inputEmail4">
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>

    <div class="col-12">
        <button class="btn btn-primary col-1" role="button">Entrar</button>

    </div>
</form>